.*
system/
application/*
!application/controllers/
application/controllers/admin.php
!application/views/
!application/models/
!application/helpers/
!application/libraries/
!application/core/

nbproject/
plan/*
!plan/todo.md
test.php

public_html/lib/
public_html/google/
*.apd
!.gitignore

~*

