@charset "utf-8";
//@import "../lib/bootstrap/less/variables.less";
//@import "../lib/bootstrap/less/mixins.less";

html,body {
	height: 100%;
    background: #FAFFFC;
}

#navbar {
    .navbar-nav>li>a {
        color: white;
    }
    .navbar-brand {
        .clear-font();
        background: url(http://localhost/tohyomaker/public_html/style/../images/logo-white.png);
        background-size: cover;
        width: 190px;
    }
    background-color: rgb(0, 190, 0);
    border-color: #008105;
    color: white;
    > div.collapse.navbar-collapse.target > .navbar-right {
        margin-right: 10px;

    }
}

.btn-default:hover, .btn-default:focus, .btn-group.open .dropdown-toggle.btn-default {
    color: #000000;
    background-color: #A6FF9E;
    border-color: #79EE54;
}
.btn-default {
    color: #000000;
    background-color: #A6FF9E;
    border-color: #79EE54;
}

.clear-font {
    color: rgba(0,0,0,0);
    &:hover,&:active {
        color: rgba(0,0,0,0);
    }
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
    margin-top: 100px;
    padding-bottom: 150px;
//    text-align: center;
}

#footer {
	position: relative;
	margin-top: -150px;
	height: 150px;
	clear: both;
	padding-top: 20px;
	background-color: gray;
}

.itembox-div {
    button {
        clear: both;
//        margin: 5px 0;
    }

    .btn-item {
        margin-top: 4px;
        &:active{
            margin-top: 5px !important;
            margin-bottom: 1px !important;
        }
        &:hover{
            margin-top: 5px;
        }
    }
}

#itemresultbox-div,#itemresultbox-soted-div {
    margin-top: 10px;
    .panel {
        margin-bottom: 7px;
        div>div {
            h2, h3, h4 {
                    margin: 0;
            }
            .num {
                &:after {
                    content: "票";
                }

            }
            >div:last-child {
                text-align: right;
            }
        }
    }
    .glyphicon-ok {
        color: rgb(0, 187, 0);
        text-shadow: 1px 1px 0px #A4FF93;
    }

    .rank-1 {
        margin-left: -27px;
    }
    .rank-2 {
        margin-left: -24px;
    }
    .rank-3 {
        margin-left: -21px;
    }
    .rank-4 {
        margin-left: -18px;
    }
    .rank-5 {
        margin-left: -15px;
    }
    .rank-6 {
        margin-left: -12px;
    }
    .rank-7 {
        margin-left: -9px;
    }
    .rank-8 {
        margin-left: -6px;
    }
    .rank-9 {
        margin-left: -3px;
    }
    .rank-10 {
        margin-left: 0px;
    }
    
}

#vote-textarea {
    width: 100%;
}

#survey-head-div {
    h1 {
        margin-top: 5px;
        margin-left: 5px;
    }
    > div > div {
//        margin-top: 10px;
    }
    .survey-cont {
        margin-top: 5px;
    }
}


i {
    margin-left  : 5px;
    margin-right : 5px;
    &.icon-orange {
        color: orange;
        text-shadow: 2px 2px 0px #F6FF93;
    }
}


#pager-div {
}

.panel-sp {
    .panel-heading {
        padding-top: 1px;
        padding-bottom: 0px;
    }
    .btn-group-itmes {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 80%;
        .btn-item {
            width: 20%;
        }
    }
    .btn-group-tags {
        .btn-tag {
        }
    }
    .panel-footer {
        padding-bottom: 1px;
    }
    i {
        top: 3px;
        left: -3px;
    }
}

.no-display {
    display: none;
}

.sharebtns-div {
    margin-top: 5px !important;
}

