// success ---


.panel-success {

}



.btn-success {
    &, &:hover, &:active, &.disabled {
        color: @col_back !important;
        background-color: @col_main;
        border-color: @col_sub1;
    }
}

.btn-warning {
    &, &:hover, &:active, &.disabled {
        color: @col_back !important;
        background-color: @col_acce;
        border-color: @col_acce + #111111;
    }
}
