// success ---


.panel-success {
    >.panel-heading {
        background-color: @col_main;
    }
}



.btn-success {
    &, &:hover, &:active, &.disabled {
        color: @col_back !important;
        background-color: @col_main;
        border-color: @col_sub1;
    }
}

.btn-warning {
    &, &:hover, &:active, &.disabled {
        color: @col_back !important;
//        background-color: @col_sub1;
        border-color: @col_acce + #111111;
    }
}

.alert-success {
    // TODO: color change to site color
    // looking blowser
    background-color: @col_main;
    border-color: @col_sub2;
}



#navbar {
    background-color: @col_main;
    border-color: @col_sub1;
    color: white;

    .icon-bar {
        background-color: @col_back;
    }

    .navbar-right {
        > li {
            a {
                color: @col_back;
            }
            li {
                i,a {
                    color: @col_main;
                }
            }
            @media (max-width: 767px) {
                i,a,li a,li i {
                    color: @col_back;
                }
            }
        }
    }
}

.progress-bar-success {
    background-color: @col_main;
}


