
@media (max-width: 767px) {
    #title-div {
        h1.top-logo {
            width: 260px;
            line-height: 50px;
            margin-bottom: 5px;
        }
    }

    .page-header {
        font-size: 25px;
        text-align: center;
    }

    #navbar {
        padding: 0;
        padding-left: 5px;
        .navbar-right {
            margin: 3px 5px;
            > li {
                float:left;
                width: 40%;
                margin: 0 5%;
                a {
                    padding: 2px;
                }
            }
        }
    }

    .itembox-div {
        li {
            margin-top: 2px;
            .panel-itemselect {
                margin-bottom: 0;
                >.panel-body {
                    height: auto;
                    padding: 5px;
                    @dh : 39px;
                    .select-btn-div {
                        height: @dh;
                        button {
                            margin: 0px;
                            height: 100%;
                        }
                    }
                    .select-value-div {
                        height: @dh;
                        margin-top: 0px;
                        >span {
                            font-size: 13px;
                        }
                    }
                    .btn {
                        i {
                            margin: 0px;
                            left: -2px;
                        }
                    }
                }
            }
        }
    }

    #survey-head-div {
        .description .well {
            span {
                font-size: 20px;
            }
        }
    }

    .panel-surveys {
        margin-bottom: 3px;
        .panel-heading { 
            padding: 5px;
        }
        .panel-body {
            padding: 5px;
        }
    }

    .panel-survey {
        margin-bottom: 2px;
        .panel-body {
            padding: 0px 5px;
            .title {
                text-align: center;
                padding-right: 10px;
                h4 > p > a {
                    font-size: 17px;
                }
            }
            p {
                margin: 1px;
            }
            .btn-group-itmes .well {
                margin: 0px 0;
                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-height: 39px;
                    white-space: nowrap;
                }
            }
        }
    }

    .visible-inline-xs {
        display: inline !important;
    }

    .abutton {
        width: 100%;
        >a {
            width: 100%;
        }
    }

}


